@import './designSystem.sass'

.container
  h1
    display: block
    width: rem(142)
    height: rem(34)

    +mq(minSmall)
      width: rem(269)
      height: rem(64)

    a
      display: flex
      align-items: center
      padding-left: rem(7)
      width: 100%
      height: 100%

      span
        +style(screenReaderOnly)

  .nav-container
    display: flex

    +mq(minXsmall)
      +style(col)

.nav
  +mq(minXsmall)
    display: flex
    justify-content: space-between
    align-items: center

  .menu-control
    +mq(maxXsmall)
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 rem(7)
      height: rem(58)

    +mq(minXsmall)
      display: none

  ol
    display: flex

    +mq(maxTablet)
      flex-direction: column
      padding-top: rem(20)

    li
      +mq(minXsmall)
        +style(colAuto)

    a
      display: flex
      align-items: center
      padding: 0 rem(15)
      height: rem(50)
      +font-weight(black)
      font-size: rem(16)
      text-transform: uppercase

      &:focus, &:hover
        +color(accent)

      +mq(maxTablet)
        width: 100%

      +mq(minXsmall)
        padding: 0 1.292vw
        height: rem(110)
        font-size: rem(14)

      +mq(minSmall)
        padding: 0 1.462vw
        font-size: rem(16)

      +mq(minLarge)
        padding: 0 2.7344vw

      +mq(minXlarge)
        padding: 0 rem(35)

  ul
    display: flex

    +mq(maxTablet)
      justify-content: flex-end
      margin: rem(15) rem(15) 0
      border-top: 1px solid $color-important
      padding-top: rem(20)

    a
      display: block
      padding: rem(6)
      font-size: rem(16)
      text-transform: uppercase
      +color(important)

      +mq(maxTablet)
        padding: rem(7)

      +mq(minXsmall)
        font-size: rem(14)

      +mq(minSmall)
        font-size: rem(16)
